.panel {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.panelArrayInput {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 200px;
}

.panelRowNumber {
  margin-right: auto;
  width: 85%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.panelInput {
  padding: 5px;
  resize: none;
  border-radius: 5px;
}